:root {
  --c-primary: #960fc0;
  --c-secondary: #985be3;
  --c-tertiary: #1F59B6;
  --bg: white;
  --bg-page-2: #bbb;
  --text: black;
}

* {
  margin: 0;
  padding: 0;
}

:root {
  --header-height: 20mm;
  --seperation: 65mm;
}

html,
body {
  background: #222;
  width: 100%;
  height: 100%;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 11pt;
}

a {
  text-decoration: none;
  color: var(--c-tertiary);
}

a:hover, a:hover > * {
  background: linear-gradient(to bottom right, var(--c-primary), var(--c-tertiary));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-box-decoration-break: clone;
  box-decoration-break: clone;
  text-shadow: none;
  width: -moz-fit-content;
  width: fit-content;
}

a:visited {
  color: var(--c-primary);
}

.resume {
  transform: scale(1);
  background: var(--bg);
  color: var(--text);
  width: 210mm;
  height: 297mm;
  position: relative;
  margin: 0 auto;
  display: grid;
  grid-template-areas: "header header" "left right";
  grid-template-columns: var(--seperation) calc(100% - var(--seperation));
  grid-template-rows: var(--header-height) calc(100% - var(--header-height));
  grid-gap: 0;
}
.resume .line {
  margin: 2mm 0;
  border-top: solid var(--c-primary) 0.6mm;
}

#theme {
  display: none;
}

.lang, .home, .dark, .light {
  position: absolute;
  z-index: 10;
  top: 8px;
}

.light {
  display: none;
}

.home {
  left: calc(50vw - 105mm + 10px);
}

.lang {
  right: calc(50vw - 105mm + 10px);
}

.dark, .light {
  right: calc(50vw - 105mm + 38px);
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}

#theme:checked ~ .dark {
  display: none;
}
#theme:checked ~ .light {
  display: initial;
}
#theme:checked ~ .dark, #theme:checked ~ .light {
  color: white;
}
#theme:checked ~ .resume {
  --c-primary: #8F5FDC;
  --c-secondary: #691383;
  --c-tertiary: #276ee0;
  --bg: #333;
  --bg-page-2: #555;
  --text: white;
}

@media print {
  .resume {
    --c-primary: #960fc0 !important;
    --c-secondary: #985be3 !important;
    --c-tertiary: #1F59B6 !important;
    --bg: white !important;
    --bg-page-2: #bbb !important;
    --text: black !important;
  }
  #theme, #theme ~ label,
  .lang, .home, .dark, .light {
    display: none;
  }
}
.resume {
  grid-template-areas: "left right";
  grid-template-rows: 100%;
}
.resume .header {
  grid-area: header;
  margin: auto;
  line-height: var(--header-height);
}
.resume .header h1 {
  font-size: 3em;
}
.resume .col-1 {
  padding: 3mm;
  grid-area: left;
  display: inline-block;
  background: rgba(102, 102, 102, 0.2);
}
.resume .col-1 .portrait {
  --cutoff: 50px;
  width: 100%;
  height: 260px;
  margin-bottom: 20px;
  background-image: url("../assets/elia_20230304.jpg");
  background-repeat: no-repeat;
  background-attachment: local;
  background-size: 130%;
  background-position: 40% 50%;
  -webkit-clip-path: polygon(0 0, 0 calc(100% - var(--cutoff)), var(--cutoff) 100%, 100% 100%, 100% var(--cutoff), calc(100% - var(--cutoff)) 0);
  clip-path: polygon(0 0, 0 calc(100% - var(--cutoff)), var(--cutoff) 100%, 100% 100%, 100% var(--cutoff), calc(100% - var(--cutoff)) 0);
}
.resume .col-2 {
  padding: 3mm;
  grid-area: right;
  display: inline-block;
  background: rgba(0, 0, 0, 0);
}
.resume .col-2 .grid {
  display: grid;
  grid-template-areas: "date text";
  grid-template-columns: 25mm;
  grid-gap: 2mm;
}
.resume .col-2 .date {
  grid-area: "date";
}
.resume .col-2 .text {
  grid-area: "text";
}
.resume .col-2 > div {
  margin-bottom: 15px;
}
.resume .col-2 h3 {
  margin-bottom: 2px;
}
.resume .skills {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
}
.resume div.footer {
  position: absolute;
  margin: 0;
  bottom: 10px;
}/*# sourceMappingURL=index.css.map */